@import "tailwindcss";
@import "@heroui/styles";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *)); 
@plugin "daisyui";

/* Button press effect */
.button:active,
.button[data-pressed="true"] {
  transform: scale(0.97);
}

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;
  @keyframes shine {
  0% {
    background-position: 0% 0%;
    }
  50% {
    background-position: 100% 100%;
    }
  to {
    background-position: 0% 0%;
    }
  }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}